In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data/anova_class_example_data.xlsx')

In [5]:
df.head()

   Display_design  Percent_increase_in_sales
0               1                        575
1               2                        565
2               3                        600
3               4                        725
4               1                        542

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [10]:
model = ols('Percent_increase_in_sales ~ C(Display_design)', data=df).fit()

In [11]:
results_table = sm.stats.anova_lm(model)

In [12]:
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN