In [2]:
import requests
from bs4 import BeautifulSoup

In [4]:
html_doc = """
<!DOCTYPE html>
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
</html>
"""

In [6]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [7]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

# HTML to select elements on the code

In [8]:
soup.title

In [11]:
soup.body

<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body>

In [9]:
p_tags = soup.find_all('p')

In [10]:
p_tags

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [12]:
for p in p_tags:
    print(p.get_text())

The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

In [15]:
a_tags = soup.find_all('a')

In [16]:
for a in a_tags:
    print(a.get_text())

Elsie
Lacie
Tillie

In [17]:
for a in a_tags:
    print(a.get('href'))

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [20]:
soup.title.parent.string

"The Dormouse's story"

In [21]:
soup.title.parent.name

'head'

In [25]:
soup.head.parent.parent.name

'[document]'

In [27]:
soup.text.count('were')

2

# Simple website query

In [32]:
import re
re.findall(r'\w+', requests.get('https://www.ironhack.com/en').text).count('bootcamp')

63

# CSS method
Each argument in the HTML tag has its symbol. Class is '.', id is '#', etc. If we don't pass any symbol, we're searching for tags.

In [35]:
soup.select('.sister')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [36]:
soup.select('#link1')

In [37]:
for a in soup.select('a'):
    print(a.get_text())

Elsie
Lacie
Tillie

In [42]:
print(soup.select('a')[0].get_text())

Elsie

In [46]:
soup.select('p.story')

[<p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [45]:
soup.select('p.story')[0].get_text()

'Once upon a time there were three little sisters; and their names were\nElsie,\nLacie and\nTillie;\nand they lived at the bottom of a well.'

# Checking for understanding
You are provided with the HTML code below.

Write code to print the following contents (not including the HTML tags, only human-readable text):

- All the "fun facts".
- The names of all the places.
- The content (name and fact) of all the cities (only cities, not countries!)
- The names (not facts!) of all the cities (not countries!)

In [48]:
x = """
<!DOCTYPE html>
<html>
  <head>
    Geography
  </head>
  <body>
    <div class="city">
      <h2>London</h2>
      <p>London is the most popular tourist destination in the world.</p>
    </div>

    <div class="city">
      <h2>Paris</h2>
      <p>Paris was originally a Roman City called Lutetia.</p>
    </div>

    <div class="country">
      <h2>Spain</h2>
      <p>Spain produces 43,8% of all the world's Olive Oil.</p>
    </div>
  </body>
</html>
"""

In [49]:
soup1 = BeautifulSoup(x, 'html.parser')

In [55]:
# Getting fun facts
fun_facts = soup1.find_all('p')
for f in fun_facts:
    print(f.text)

London is the most popular tourist destination in the world.
Paris was originally a Roman City called Lutetia.
Spain produces 43,8% of all the world's Olive Oil.

In [58]:
# Names of places
places = soup1.find_all('h2')
for p in places:
    print(p.text)

London
Paris
Spain

In [62]:
# Name & fact of all cities
facts_citites = soup1.select('div.city')
for fc in facts_citites:
    print(fc.text)

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [90]:
# Names of the cities
for fc in facts_citites:
    print(fc.h2.get_text())

London
Paris

In [91]:
for fc in facts_citites:
    print(fc.select('h2'))

[<h2>London</h2>]
[<h2>Paris</h2>]

In [92]:
for fc in facts_citites:
    print(fc.h2)

<h2>London</h2>
<h2>Paris</h2>

# Scraping IMDb Top 250 Movies

In [93]:
import pandas as pd

In [109]:
url = 'https://www.imdb.com/chart/top/'
headers = {"Accept-Language": "en-US,en;q=0.5"}
page = requests.get(url, headers=headers)

In [110]:
soup2 = BeautifulSoup(page.content, 'html.parser')

In [135]:
# Getting the first title / relevant content
soup2.select('td.titleColumn > a')[0].text

'The Shawshank Redemption'

In [134]:
# Getting the dir stars
soup2.select('td.titleColumn > a')[0]['title']

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [180]:
# Getting the rank
rank = soup2.select('td.titleColumn')[98].text
rank1 = re.search(r'(\d+)\.', rank).group(0)
rank1

'99.'

In [137]:
# Getting the year
soup2.select('td.titleColumn > span')[0].text

'(1994)'

## For loop to get movies

In [199]:
rank = []
titles = []
year = []
dir_actor = []
length = len(soup2.select('td.titleColumn'))

In [200]:
for i in range(length):
    rank.append(re.search(r'(\d+)\.', soup2.select('td.titleColumn')[i].text).group(0))
    titles.append(soup2.select('td.titleColumn > a')[i].text)
    year.append(soup2.select('td.titleColumn > span')[i].text)
    dir_actor.append(soup2.select('td.titleColumn > a')[i]['title'])

## Creating a dataframe from movies data

In [206]:
# cleaning steps - drop () from year, drop . from rank, separate dirs from actors
year_cl = [yr.strip(')').strip('(') for yr in year]
rank_cl = [rk.replace('.', '') for rk in rank]

In [209]:
director = []
star1 = []
star2 = []
for movie in dir_actor:
    split_list = movie.split(',')
    director.append(split_list[0].replace(' (dir.)', ''))
    star1.append(split_list[1])
    star2.append(split_list[2])

In [210]:
movies = pd.DataFrame({
    'rank': rank_cl,
    'movie_title': titles,
    'director': director,
    'actor1': star1,
    'actor2': star2,
    'year': year_cl
})

In [211]:
movies

,rank,movie_title,director,actor1,actor2,year
0,1,The Shawshank Redemption,Frank Darabont,Tim Robbins,Morgan Freeman,1994
1,2,The Godfather,Francis Ford Coppola,Marlon Brando,Al Pacino,1972
2,3,The Godfather: Part II,Francis Ford Coppola,Al Pacino,Robert De Niro,1974
3,4,The Dark Knight,Christopher Nolan,Christian Bale,Heath Ledger,2008
4,5,12 Angry Men,Sidney Lumet,Henry Fonda,Lee J. Cobb,1957
...,...,...,...,...,...,...
245,246,Miracle in Cell No. 7,Mehmet Ada Öztekin,Aras Bulut Iynemli,Nisa Sofiya Aksongur,2019
246,247,Hera Pheri,Priyadarshan,Akshay Kumar,Suniel Shetty,2000
247,248,Neon Genesis Evangelion: The End of Evangelion,Hideaki Anno,Megumi Ogata,Megumi Hayashibara,1997
248,249,The Battle of Algiers,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,1966
249,250,96,C. Prem Kumar,Vijay Sethupathi,Adithya Bhaskar,2018

# Scraping multiple pages

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from tqdm.notebook import tqdm
from time import sleep
from random import randint

In [2]:
url = 'https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1&ref_=adv_nxt'

In [3]:
results = requests.get(url)
results.status_code

200

In [4]:
soup = BeautifulSoup(results.content, 'html.parser') #

## Building an iterator

In [8]:
iterations = range(1, 2725, 50) # I've got 2725 films and page shows 50

In [10]:
for i in iterations:
    start_at = str(i)
    url = f'https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start={start_at}&ref_=adv_nxt'
    print(url)

https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=51&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=101&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=151&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=201&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=251&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=301&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=351&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=401&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=451&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=501&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=551&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=601&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=651&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=701&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=751&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=801&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=851&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=901&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=951&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1001&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1051&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1101&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1151&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1201&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1251&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1301&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1351&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1401&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1451&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1501&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1551&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1601&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1651&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1701&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1751&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1801&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1851&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1901&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=1951&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2001&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2051&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2101&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2151&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2201&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2251&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2301&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2351&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2401&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2451&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2501&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2551&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2601&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2651&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start=2701&ref_=adv_nxt

## Respectful scraping - use sleep and radint to separate our scraper pings

In [12]:
# example
for i in range(5):
    print(i)
    wait_time = randint(1,4)
    sleep(wait_time)

0
1
2
3
4

## Assemble the scraper

In [13]:
pages = []
for i in iterations:
    start_at = str(i)
    url = f'https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1995-12-31&user_rating=7.0,&start={start_at}&ref_=adv_nxt'
    response = requests.get(url)
    pages.append(response)
    # sleeping
    wait_time = randint(1, 4)
    sleep(wait_time)

In [15]:
# soup from one page
soup = BeautifulSoup(pages[0].content, 'html.parser')

In [26]:
# Getting name & synopsis from each film
title_path = 'h3 > a'
synopsis_path = 'p:nth-child(4)'
print(soup.select(title_path)[49].get_text(strip=True))
print(soup.select(synopsis_path)[49].get_text(strip=True))

Dos tontos muy tontos
After a woman leaves a briefcase at the airport terminal, a dumb limo driver and his dumber friend set out on a hilarious cross-country road trip to Aspen to return it.

In [28]:
# Final iterator
title_path = 'h3 > a'
synopsis_path = 'p:nth-child(4)'
titles = []
synopsis = []
for page in pages:
    soup = BeautifulSoup(page.content, 'html.parser')
    for i in range(len(soup.select(title_path))):
        titles.append(soup.select(title_path)[i].get_text(strip=True))
        synopsis.append(soup.select(synopsis_path)[i].get_text(strip=True))
films = pd.DataFrame({
    'titles': titles,
    'synopsis': synopsis
})

In [31]:
films

,titles,synopsis
0,Cadena perpetua,Two imprisoned men bond over a number of years...
1,Pulp Fiction,"The lives of two mob hitmen, a boxer, a gangst..."
2,Jurassic Park (Parque Jurásico),A pragmatic paleontologist touring an almost c...
3,La lista de Schindler,"In German-occupied Poland during World War II,..."
4,Tombstone: La leyenda de Wyatt Earp,A successful lawman's plans to retire anonymou...
...,...,...
2720,Mahaprithivi,"An elderly lady has three sons and a daughter,..."
2721,Huo yan shan lai de gu shou,A talented young tambourine player joins an en...
2722,Kapitan Krokus,Add a Plot
2723,Jai Maa Vaishno Devi,Add a Plot
2724,Dhadakebaaz,"Lakshya finds a bottle, which has Gangaram tra..."

# Scraping pages & subpages

In [32]:
# from this url we want to get the names of the presidents for the subpages
url = 'https://en.wikipedia.org/wiki/List_of_presidents_of_the_United_States'
page = requests.get(url)

In [33]:
wikisoup = BeautifulSoup(page.content, 'html.parser')

In [52]:
# getting the href from all presidents
name_path = 'td:nth-child(3) > b > a'

wikisoup.select(name_path)[0]['href']

'/wiki/George_Washington'

In [59]:
presi_soup = []
for i in range(len(wikisoup.select(name_path))):
    x = wikisoup.select(name_path)[i]['href']
    url_sub = f'https://en.wikipedia.org{x}'
    response = requests.get(url_sub)
    print(response.status_code)
    soup = BeautifulSoup(response.content, 'html.parser')
    presi_soup.append(soup.find('table', {'class': 'infobox vcard'}))
    wait_time = randint(1, 3)
    sleep(wait_time)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

## getting information from the soup

In [77]:
# name
presi_soup[45].find('div', {'class': 'fn'}).get_text()

'Joe Biden'

In [62]:
# bday
presi_soup[45].find('span', {'class', 'bday'}).get_text(strip=True)

'1942-11-20'

In [67]:
# political party
presi_soup[45].find('th', string='Political party').parent.find('a').get_text(strip=True)

'Democratic'

In [76]:
# no of sons / daughters
len(presi_soup[45].find('th', string='Children').parent.find_all('li'))

4

In [78]:
name = []
bdate = []
party = []
no_children = []
for i in range(len(presi_soup)):
    name.append(presi_soup[i].find('div', {'class': 'fn'}).get_text())
    bdate.append(presi_soup[i].find('span', {'class', 'bday'}).get_text(strip=True))
    party.append(presi_soup[i].find('th', string='Political party').parent.find('a').get_text(strip=True))
    try:
        no_children.append(len(presi_soup[i].find('th', string='Children').parent.find_all('li')))
    except:
        no_children.append('NA')

presis = pd.DataFrame({
    'name': name,
    'date_of__birth': bdate,
    'political_party': party,
    'number_of_children': no_children
})
presis

,name,date_of__birth,political_party,number_of_children
0,George Washington,1732-02-22,Independent,0
1,John Adams,1735-10-30,Pro-Administration,0
2,Thomas Jefferson,1743-04-13,Democratic-Republican,6
3,James Madison,1751-03-16,Democratic-Republican,NA
4,James Monroe,1758-04-28,Democratic-Republican,0
5,John Quincy Adams,1767-07-11,Whig,4
6,Andrew Jackson,1767-03-15,Democratic-Republican,3
7,Martin Van Buren,1782-12-05,Democratic-Republican,0
8,William Henry Harrison,1773-02-09,Democratic-Republican,0
9,John Tyler,1790-03-29,Independent,0
10,James K. Polk,1795-11-02,Democratic,NA
11,Zachary Taylor,1784-11-24,Whig,0
12,Millard Fillmore,1800-01-07,Anti-Masonic,2
13,Franklin Pierce,1804-11-23,Democratic,0
14,James Buchanan,1791-04-23,Federalist,NA
15,Abraham Lincoln,1809-02-12,Whig,4
16,Andrew Johnson,1808-12-29,Democratic,0
17,Ulysses S. Grant,1822-04-27,Republican,4
18,Rutherford B. Hayes,1822-10-04,Whig,0
19,James A. Garfield,1831-11-19,Republican,0
20,Chester A. Arthur,1829-10-05,Republican,0
21,Grover Cleveland,1837-03-18,Democratic,0
22,Benjamin Harrison,1833-08-20,Whig,3
23,Grover Cleveland,1837-03-18,Democratic,0
24,William McKinley,1843-01-29,Republican,0
25,Theodore Roosevelt,1858-10-27,Republican,6
26,William Howard Taft,1857-09-15,Republican,3
27,Woodrow Wilson,1856-12-28,Democratic,3
28,Warren G. Harding,1865-11-02,Republican,0
29,Calvin Coolidge,1872-07-04,Republican,2
30,Herbert Hoover,1874-08-10,Republican,2
31,Franklin D. Roosevelt,1882-01-30,Democratic,0
32,Harry S. Truman,1884-05-08,Democratic,0
33,Dwight D. Eisenhower,1890-10-14,Republican,2
34,John F. Kennedy,1917-05-29,Democratic,4
35,Lyndon B. Johnson,1908-08-27,Democratic,2
36,Richard Nixon,1913-01-09,Republican,2
37,Gerald Ford,1913-07-14,Republican,4
38,Jimmy Carter,1924-10-01,Democratic,4
39,Ronald Reagan,1911-02-06,Republican,5
40,George H. W. Bush,1924-06-12,Republican,6
41,Bill Clinton,1946-08-19,Democratic,0
42,George W. Bush,1946-07-06,Republican,2
43,Barack Obama,1961-08-04,Democratic,2
44,Donald Trump,1946-06-14,Republican,5
45,Joe Biden,1942-11-20,Democratic,4