<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-the-three-files-into-python-as-dataframes" data-toc-modified-id="Read-the-three-files-into-python-as-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read the three files into python as dataframes</a></span></li><li><span><a href="#Show-the-DataFrame's-shape" data-toc-modified-id="Show-the-DataFrame's-shape-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Show the DataFrame's shape</a></span></li><li><span><a href="#Standardize-header-names" data-toc-modified-id="Standardize-header-names-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Standardize header names</a></span><ul class="toc-item"><li><span><a href="#Renaming-headers-to-lowercase" data-toc-modified-id="Renaming-headers-to-lowercase-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Renaming headers to lowercase</a></span></li><li><span><a href="#Fixing-name-discrepancies-between-files" data-toc-modified-id="Fixing-name-discrepancies-between-files-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Fixing name discrepancies between files</a></span></li></ul></li><li><span><a href="#Concatenate-the-three-dataframes-(automatically-rearranges-columns)" data-toc-modified-id="Concatenate-the-three-dataframes-(automatically-rearranges-columns)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Concatenate the three dataframes (automatically rearranges columns)</a></span></li><li><span><a href="#Which-columns-are-numerical?" data-toc-modified-id="Which-columns-are-numerical?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Which columns are numerical?</a></span></li><li><span><a href="#Which-columns-are-categorical?" data-toc-modified-id="Which-columns-are-categorical?-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Which columns are categorical?</a></span></li><li><span><a href="#Understand-the-meaning-of-all-columns" data-toc-modified-id="Understand-the-meaning-of-all-columns-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Understand the meaning of all columns</a></span></li><li><span><a href="#Perform-the-following-data-cleaning-operations" data-toc-modified-id="Perform-the-following-data-cleaning-operations-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Perform the following data cleaning operations</a></span><ul class="toc-item"><li><span><a href="#Delete-the-column-education-and-the-number-of-open-complaints-from-the-dataframe" data-toc-modified-id="Delete-the-column-education-and-the-number-of-open-complaints-from-the-dataframe-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Delete the column education and the number of open complaints from the dataframe</a></span></li><li><span><a href="#Correct-the-values-in-the-column-customer-lifetime-value.-They-are-given-as-a-percent,-so-multiply-them-by-100-and-change-dtype-to-numerical-type" data-toc-modified-id="Correct-the-values-in-the-column-customer-lifetime-value.-They-are-given-as-a-percent,-so-multiply-them-by-100-and-change-dtype-to-numerical-type-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type</a></span></li><li><span><a href="#Check-for-duplicate-rows-in-the-data-and-remove-if-any" data-toc-modified-id="Check-for-duplicate-rows-in-the-data-and-remove-if-any-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Check for duplicate rows in the data and remove if any</a></span></li><li><span><a href="#Filter-out-the-data-for-customers-who-have-an-income-of-0-or-less" data-toc-modified-id="Filter-out-the-data-for-customers-who-have-an-income-of-0-or-less-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>Filter out the data for customers who have an income of 0 or less</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

# Read the three files into python as dataframes

In [2]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')

# Show the DataFrame's shape

In [5]:
file1.info()
# 4008 x 11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [6]:
file2.info()
# 996 x 11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [7]:
file3.info()
# 7070 x 11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

# Standardize header names

## Renaming headers to lowercase

In [12]:
cols = []
# file 1
for i in range(len(file1.columns)):
    cols.append(file1.columns[i].lower())
file1.columns = cols
# file 2
cols = []
for i in range(len(file2.columns)):
    cols.append(file2.columns[i].lower())
file2.columns = cols
# file 3
cols = []
for i in range(len(file3.columns)):
    cols.append(file3.columns[i].lower())
file3.columns = cols

## Fixing name discrepancies between files

In [19]:
file3 = file3.rename(columns={'state': 'st'})

# Concatenate the three dataframes (automatically rearranges columns)

In [34]:
data = pd.concat([file1, file2, file3], axis=0, ignore_index=True)
# Also, I'm changing the column st back to state
data = data.rename(columns={'st': 'state'})

# Which columns are numerical?

In [35]:
data.info()
# Only income, monthly premium auto and total claim amount are numerical. We'll have to fix that.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

# Which columns are categorical?

In [36]:
data.head()
# The following columns are categorical: state, gender, education, policy type and vehicle class.

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

# Understand the meaning of all columns

- **customer:** an ID number for every subject.  
- **state:** the State of the US in which the customer lives.  
- **gender:** the customer's gender.  
- **education:** the customer's education level.  
- **customer lifetime value:** the total income the company has received from each customer.  
- **income:** the customer's yearly income.  
- **monthly premium auto:** the price of each customer's insurance policy.  
- **number of open complaints:** each customer's total open complaints.  
- **policy type:** the kind of policy each customer has selected.  
- **vehicle class:** the type of vehicle of every customer.  
- **total claim amount:** the total amount each customer has claimed to the insurance company.

# Perform the following data cleaning operations

## Delete the column education and the number of open complaints from the dataframe

In [37]:
data.drop(['education', 'number of open complaints'], axis = 1, inplace=True)
data.head()

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

## Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type

In [45]:
data['customer lifetime value'] = pd.to_numeric(data['customer lifetime value'], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 9137 non-null   object
 1   state                    9137 non-null   object
 2   gender                   9015 non-null   object
 3   customer lifetime value  7070 non-null   float64
 4   income                   9137 non-null   float64
 5   monthly premium auto     9137 non-null   float64
 6   policy type              9137 non-null   object
 7   vehicle class            9137 non-null   object
 8   total claim amount       9137 non-null   float64
dtypes: float64(4), object(5)
memory usage: 849.1+ KB

In [52]:
data['customer lifetime value'] = data['customer lifetime value'].mul(100).round(2)

## Check for duplicate rows in the data and remove if any

In [54]:
data = data.drop_duplicates()
data.info()
# A total of 2939 entries have been removed.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 12073
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 9134 non-null   object
 1   state                    9134 non-null   object
 2   gender                   9012 non-null   object
 3   customer lifetime value  7070 non-null   float64
 4   income                   9134 non-null   float64
 5   monthly premium auto     9134 non-null   float64
 6   policy type              9134 non-null   object
 7   vehicle class            9134 non-null   object
 8   total claim amount       9134 non-null   float64
dtypes: float64(4), object(5)
memory usage: 713.7+ KB

## Filter out the data for customers who have an income of 0 or less

In [61]:
customers_no_income = data[data['income'] <= 0]
customers_no_income

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,NaN,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,NaN,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
12063,WZ45103,California,F,567805.02,0.0,76.0,Personal Auto,Four-Door Car,364.800000
12065,RX91025,California,M,1987226.20,0.0,185.0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,462899.53,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
12071,TD14365,California,M,816389.04,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12073,Y167826,California,M,261183.69,0.0,77.0,Corporate Auto,Two-Door Car,369.600000